.tab-content {
  max-height: 0;
  -webkit-transition: max-height 0.35s;
  -o-transition: max-height 0.35s;
  transition: max-height 0.35s;
}

.tab input:checked ~ .tab-content {
  max-height: 100vh;
}

.chevron-down {
    transition: transform 0.3s ease;
}

.tab input[type="checkbox"]:checked + label .chevron-down {
    transform: rotateX(180deg);
}