.filter-tabs-row {
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: center;
}

.filter-active {
    background-color: #1A1635;
    border-radius: 8px;
}

@media screen and (max-width: 992px) {
    .menu-tabs-row > div {
        min-width: 200px!important;
    }
}

@media screen and (max-width: 768px) {
    .menu-tabs-row > div {
        min-width: 148px!important;
    }

    .filter-tabs-row {
        display: none;
    }
}

@media screen and (max-width: 500px) {
    .modile-active-filter-tabs {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        gap: 10px;
        flex-wrap: wrap;
    }
}
