@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #080915;
}

.table-custom-border {
  position: relative;
}

.table-custom-border::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 0.5px;
  width: 100%;
  background: linear-gradient(
    to right,
    rgba(106, 33, 244, 0) 0%,
    rgba(106, 33, 244, 1) 50%,
  rgba(106, 33, 244, 0.9) 100%
  );
}
